.image-resize {
  width: 1000px;
  height: auto;
}

.fade-in-sectionX {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.8s ease-in, transform 0.8s ease-in; /* Adjust the duration and easing as desired */
}

.fade-in-sectionX.loaded {
  opacity: 1;
  transform: translateX(0); /* Move to the original position */
}

.fade-in-sectionY {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in, transform 0.8s ease-in; /* Adjust the duration and easing as desired */
}

.fade-in-sectionY.loaded {
  opacity: 1;
  transform: translateY(0); /* Move to the original position */
}

.profile-resize {
  width: auto;
  height: 400px;
}
.custom-button {
  margin-top: 10px;
}

.custom-button:hover {
  margin-top: 0;
}

.home-contact {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin: 20px 0px;
}

.home-contact > .social-icon {
  margin-top: 20px;
  margin-right: 15px;
  transition: 0.3s ease;
}

.home-contact > .social-icon:hover {
  margin-top: 10px;
}

.container-narrow {
  max-width: 1024px;
  margin: 0px auto;
}
.available {
  color: rgb(6, 179, 0);
}

.space {
  display: inline-block;
  width: 200px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-image {
  width: 100%;
  background-color: #fff;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.education-image {
  max-width: 1000px;
  max-height: 300px;
}

.internship-image {
  width: auto;
  max-height: 300px;
}

.skill-container {
  width: 100%;
  height: 100%;
}
.skill-list {
  margin-left: 10px;
  list-style: square;
}

.skill-list li {
  margin-bottom: 5px;
  margin-left: 30px;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .profile-resize {
    width: auto;
    height: 200px;
  }
  .education-image {
    max-width: 400px;
    max-height: 200px;
  }
  .internship-image {
    width: 200px;
    max-height: 175px;
  }
  .image-resize {
    width: 350px;
    height: auto;
  }
}
@media (max-width: 650px) {
  .skill-list li {
    margin-bottom: 5px;
    margin-left: 0px;
    list-style:  none;
  }
  .skill-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .internship-container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}