.image-resize {
    width: 1000px;
    height: auto; /* Maintains aspect ratio */
}

.profile-resize {
    width: auto;
    height: 400px; /* Maintains aspect ratio */
}

.home-contact {
    display: flex;
    flex-direction: row;
    list-style-type: none; /* Remove default list styles */
    padding-left: 0; /* Remove default padding for lists */
    margin: 20px 0px;
}

.home-contact > .social-icon {
    margin-right: 15px;
}
