html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

.background-lg {
  background-color: #f4f6f8;
}


.hamburger-menu{
  position: absolute;
  left: -9999px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f9fa;
  padding: 10px 0;
  z-index: 1000;
  font-size: 0.8em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this line to center items vertically */
}


nav .logo {
  margin-left: 20px;
  font-size: 1.9rem;
  font-weight: bold;
}

nav .logo a {
  text-decoration: none;
  color: black;
}
nav .download {
  margin-right: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Add this line to center the li elements vertically */
}

nav ul li {
  font-weight: 300;
  font-size: 1.3rem;
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  font-weight: bolder; /* Make font bolder on hover */
}
@media (max-width: 900px) {
  nav ul li {
    position: absolute;
    left: -9999px;
  }
  nav .download {
    margin-right: 40px;
    position: relative;
    left: 0px;
  }
  .sidebar{
    display: flex;
    justify-content: space-between;
  }
  nav .logo {
    margin-left: 20px;
    font-size: 1.9rem;
    font-weight: bold;
  }
}

section {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-spliter {
  width: 100%;
  transition: 0.3s ease;
}

.fade-in-sectionY {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 14s ease-in-out;
}

.fade-in-sectionY.loaded {
  opacity: 1;
  transform: translateY(0);
}
